name: K6 smoke test
on: [push]
permissions:
  contents: write
jobs:
  build:
    name: K6 smoke test
    runs-on: ubuntu-latest
    steps:
      - name: step 1 - checkout
        uses: actions/checkout@v3

      - name: step 2 - run K6 smoke test
        run: |
          k6 run --out html=report/index.html scripts/tests/smoke/users.smoke.js

      - name: step 3 - upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: relatorio de testes de performance
          path: report

      - name: step 4 - publish report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: report
