name: K6 smoke test
on: [push]
permissions:
  contents: write
jobs:
  build:
    name: K6 smoke test
    runs-on: ubuntu-latest
    steps:
      - name: step 1 - checkout
        uses: actions/checkout@v4

      - name: step 2 - run K6 smoke test
        uses: grafana/k6-action@v0.2.0
        with:
          filename: scripts/tests/smoke/users.smoke.js

      - name: step 3 - upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: relatorio de testes de performance
          path: index.html

      - name: step 4 - publish report
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: page_perfomace_k6
          publish_dir: index.html
